@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?srf3rx');
  src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
    url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

/*
* Arpit Edits
*/
.emotions {
  font-weight: 500;
}
.emoji {
  max-width: 100px;
  height: auto;
}
.delhi-map {
  margin-top: 2em;
}

.delhi-map img {
  width: 100%;
  height: auto;
}
.modal {
  overflow-y: auto;
  padding-right: 0px !important;
}
.modal-open {
  overflow: auto;
  padding-right: 0px !important;
}
/* .modal-content{

} */
.modal-header {
  border: none;
}
.modal-body {
  display: flex;
  flex-direction: row;
  background-color: #ff6576;
  justify-content: space-between;
  padding: 0;
}
.modal-dialog {
  width: auto;
  margin: auto;
}
#myModal {
  top: 50%;
  right: auto;
}
.google-form {
  font-size: 2rem !important;
}
.cross {
  font-size: 1.7em;
  padding-right: 0.3em;
}

body {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  background: #fff;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.5;
  }
}

a {
  color: #ff6576;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #ff6576;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #ff6576;
}

::-moz-selection {
  color: #fff;
  background: #ff6576;
}

::selection {
  color: #fff;
  background: #ff6576;
}

#fh5co-wrap {
  position: relative;
  background: #fff;
  z-index: 2;
  margin-bottom: 450px;
}
@media screen and (max-width: 992px) {
  #fh5co-wrap {
    margin-bottom: auto;
  }
}

#fh5co-footer {
  padding-top: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 450px;
  background: #333333;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  #fh5co-footer {
    height: inherit;
    position: relative;
    padding: 5em 0;
  }
}
#fh5co-footer .fh5co-social li {
  display: block;
}
#fh5co-footer p {
  line-height: 1.5;
}
#fh5co-footer h3 {
  color: #fff;
  font-size: 20px;
}
#fh5co-footer a {
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-footer a:hover {
  color: #ff6576;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-copyright {
  padding-top: 3em;
}
#fh5co-footer .fh5co-copyright small {
  display: block;
}

#fh5co-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#fh5co-header nav {
  text-align: center;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
#fh5co-header nav li a {
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
#fh5co-header nav li a span {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-header nav li a {
    padding: 10px 2px;
  }
}
#fh5co-header nav li a:hover {
  color: white;
}
#fh5co-header nav li a:hover span {
  border-bottom: 2px solid #fff;
}
#fh5co-header nav li.fh5co-active a {
  color: #fff;
}
#fh5co-header nav li.fh5co-active a span {
  border-bottom: 2px solid #fff;
}

.fh5co-table,
.fh5co-table-cell,
.fh5co-hero,
.fh5co-parallax {
  height: 670px;
}

.fh5co-hero,
.fh5co-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.fh5co-hero .overlay,
.fh5co-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .fh5co-hero,
  .fh5co-parallax {
    height: inherit;
    padding: 4em 0;
  }
}
.fh5co-hero .fh5co-intro h1,
.fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-hero .fh5co-intro h1,
  .fh5co-parallax .fh5co-intro h1 {
    font-size: 30px;
  }
}
.fh5co-hero .fh5co-intro p,
.fh5co-parallax .fh5co-intro p {
  color: #fff;
}
.fh5co-hero .fh5co-intro p a,
.fh5co-parallax .fh5co-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-hero .fh5co-intro p a:hover,
.fh5co-parallax .fh5co-intro p a:hover {
  color: #fff;
}

.fh5co-table {
  display: table;
}

.fh5co-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.fh5co-section {
  padding: 1em 0;
}
@media screen and (max-width: 768px) {
  .fh5co-section {
    padding: 1em 0;
  }
}

.fh5co-feature {
  text-align: left;
  width: 100%;
  float: left;
  padding: 20px;
}
.fh5co-feature .fh5co-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.fh5co-feature .fh5co-icon i {
  color: #ff6576;
  font-size: 70px;
}
@media screen and (max-width: 1200px) {
  .fh5co-feature .fh5co-icon i {
    font-size: 40px;
  }
}
.fh5co-feature.fh5co-feature-sm .fh5co-icon i {
  color: #ff6576;
  font-size: 28px;
}
@media screen and (max-width: 1200px) {
  .fh5co-feature.fh5co-feature-sm .fh5co-icon i {
    font-size: 28px;
  }
}
.fh5co-feature .fh5co-text {
  float: right;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature .fh5co-text {
    width: 72%;
  }
}
.fh5co-feature .fh5co-text h2,
.fh5co-feature .fh5co-text h3 {
  margin: 0;
  padding: 0;
}
.fh5co-feature .fh5co-text h3 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-left: 10px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Work Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px !important;
}
.btn.btn-sm {
  padding: 4px 15px !important;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #ff6576;
  color: #fff;
  border: 2px solid #ff6576;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #66d8b4 !important;
  border-color: #66d8b4 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #ff6576;
  border: 2px solid #ff6576;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #ff6576;
  color: #fff;
}

.btn-success {
  background: #ff6576;
  color: #fff;
  border: 2px solid #ff6576;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #ff6576 !important;
  border-color: #ff6576 !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #ff6576;
  border: 2px solid #ff6576;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #ff6576;
  color: #fff;
}

.btn-info {
  background: #ff6576;
  color: #fff;
  border: 2px solid #ff6576;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #ff6576;
  border: 2px solid #ff6576;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #ff6576;
  color: #fff;
}

.btn-warning {
  background: #ff6576;
  color: #fff;
  border: 2px solid #ff6576;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #ff6576;
  border: 2px solid #ff6576;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #ff6576;
  color: #fff;
}

.btn-danger {
  background: #ff6576;
  color: #fff;
  border: 2px solid #ff6576;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #ff6576 !important;
  border-color: #ff6576 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #ff6576;
  border: 2px solid #ff6576;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #ff6576;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ff6576;
}

.fh5co-check {
  padding: 0 0 0 0;
  margin: 0 0 1.5em 0;
}
.fh5co-check li {
  padding: 0 0 0 40px;
  margin: 0;
  list-style: none;
  position: relative;
}
.fh5co-check li:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0.3em;
  content: '\f00c';
  color: #ff6576;
}

.fh5co-staff img {
  margin-bottom: 1em;
}
.fh5co-staff h3 {
  margin: 0;
}
.fh5co-staff h4 {
  margin: 0 0 20px 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

#map {
  width: 100%;
  height: 700px;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fix-space {
  margin-top: 100px !important;
}

.col_half {
  width: 49%;
}
.col_third {
  width: 32%;
}
.col_fourth {
  width: 23.5%;
}
.col_fifth {
  width: 18.4%;
}
.col_sixth {
  width: 15%;
}
.col_three_fourth {
  width: 74.5%;
}
.col_twothird {
  width: 66%;
}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
  position: relative;
  display: inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.end {
  margin-right: 0 !important;
}

.wrapper {
  width: 980px;
  margin: 30px auto;
  position: relative;
}
.counter {
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 5px;
}
.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.fix-logo {
  display: none;
}

.fix-what {
  padding-top: 5em !important;
}

#mapDiv {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  z-index: 999;
}

.gal-cover {
  width: 450px;
  height: 300px;
  margin: 20px;
  text-align: center;
}

.gal-cover:hover {
  opacity: 0.5;
  background-color: #fff;
  transform: scale(1.1);
}

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.abt-img {
  width: 450px;
  height: 250px;
}

.logo-fix {
  width: 150px;
  height: 70px;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
  .tz-gallery .lightbox img {
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 620px) {
  .abt-img {
    width: 350px;
    height: 200px;
  }

  .gal-cover {
    width: 80%;
    height: 200px;
  }

  #mapDiv {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    z-index: 999;
  }

  .hid-br {
    display: none;
  }

  .fix-what {
    padding-top: 15em !important;
  }

  .fix-logo {
    display: inline;
  }

  .fix-space {
    margin-top: 0px !important;
  }
}
